﻿@{
    if ((bool)(Model.EnableSwipe ?? true))
    {
        Script.Include("jquery.touchSwipe.min.js");
        Script.Include("bootstrap.carousel.swipe.js");
    }

    var slides = ((IEnumerable<dynamic>)Model.Slides).ToList();
    if (slides.Any()) {
        Model.Classes.Add("carousel slide");
        if (bool.Parse(Model.AutoStart))
        {
            Model.Attributes["data-ride"] = "carousel";
        }
        Model.Attributes["data-interval"] = bool.Parse(Model.AutoStart) ? Model.Interval : "false";
        Model.Attributes["data-pause"] = Model.Pause;
        Model.Attributes["data-wrap"] = Model.Wrap;
        Model.Attributes["data-keyboard"] = Model.Keyboard;

        var tag = Tag(Model, "div");

        @tag.StartElement
        if (Model.Indicators == "true") { 
         <!-- Indicators -->
            <ol class="carousel-indicators">
                @for (var j = 0; j < slides.Count; j++) {
                    <li data-target="#@Model.Id" data-slide-to="@j" @if (j == 0) { <text> class="active" </text>  }></li>
                }
            </ol>
        }

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @{
                var i = 0;
            }
            @foreach (var slide in slides) {
                <div class="item @if (i == 0) {<text>active</text>}">
                    @Display(slide)
                </div>
                i++;
            }
        </div>

        if (Model.Controls == "true") {
            <!-- Controls -->
            <a class="left carousel-control" href="#@Model.Id" role="button" data-slide="prev">
                <span class="os-icon icon-prev" aria-hidden="true"></span>
                <span class="sr-only">@T("Previous")</span>
            </a>
            <a class="right carousel-control" href="#@Model.Id" role="button" data-slide="next">
                <span class="os-icon icon-next" aria-hidden="true"></span>
                <span class="sr-only">@T("Next")</span>
            </a>
        }

        @tag.EndElement
    }
}
