﻿@{
    const string localPrefix = "BootstrapPlugin";
    const string autoStart = localPrefix + ".AutoStart";
    const string interval = localPrefix + ".Interval";
    const string pause = localPrefix + ".Pause";
    const string wrap = localPrefix + ".Wrap";
    const string keyboard = localPrefix + ".Keyboard";
    const string indicators = localPrefix + ".Indicators";
    const string controls = localPrefix + ".Controls";
    const string displayAsName = localPrefix + ".DisplayAs";
    const string swipe = localPrefix + ".Swipe";

    var displayAs = (string)Model.DisplayAs;
}
<div class="message message-Information">
    @T("This plugin requires a Bootstrap-enabled theme.")
</div>

<fieldset class="forcheckbox">
    <legend>@T("Display as")</legend>
    @Html.RadioButton(displayAsName, "Carousel", string.IsNullOrEmpty(displayAs) || displayAs == "", new { id = displayAsName + "_carousel" })
    <label for="@(displayAsName)_carousel" class="forcheckbox">@T("Carousel")</label>
    @Html.RadioButton(displayAsName, "Gallery", displayAs == "Gallery", new { id = displayAsName + "_gallery" })
    <label for="@(displayAsName)_gallery" class="forcheckbox">@T("Gallery")</label>
</fieldset>

<div class="form-group">
    <label for="@Html.Id(interval)">@T("Interval")</label>
    @Html.TextBox(interval, (string)Model.Interval, new { @class = "text small" })
    <span class="hint">@T("The amount of time to delay between automatically cycling an item. If zero, carousel will not automatically cycle.")</span>
</div>

<div class="form-group">
    <label for="@Html.Id(pause)">@T("Pause")</label>
    @Html.TextBox(pause, (string)Model.Pause, new { @class = "text small" })
    <span class="hint">@T("Pauses the cycling of the carousel on mouseenter and resumes the cycling of the carousel on mouseleave.")</span>
</div>

<div class="form-group">
    @Html.CheckBox(autoStart, String.Equals((string)Model.AutoStart, "true", StringComparison.OrdinalIgnoreCase), new { value = true })
    <label for="@Html.Id(autoStart)" class="forcheckbox">@T("AutoStart")</label>
    <span class="hint">@T("Whether the carousel should begin animating automatically on page load. If false, and Interval is non-zero, the carousel will begin animating after the first user slide navigation.")</span>
</div>

<div class="form-group">
    @Html.CheckBox(wrap, String.Equals((string)Model.Wrap, "true", StringComparison.OrdinalIgnoreCase), new { value = true })
    <label for="@Html.Id(wrap)" class="forcheckbox">@T("Wrap")</label>
    <span class="hint">@T("Whether the carousel should cycle continuously or have hard stops.")</span>
</div>

<div class="form-group">
    @Html.CheckBox(keyboard, String.Equals((string)Model.Keyboard, "true", StringComparison.OrdinalIgnoreCase), new { value = true })
    <label for="@Html.Id(keyboard)" class="forcheckbox">@T("Keyboard")</label>
    <span class="hint">@T("Whether the carousel should react to keyboard events.")</span>
</div>

<div class="form-group">
    @Html.CheckBox(indicators, String.Equals((string)Model.Indicators, "true", StringComparison.OrdinalIgnoreCase), new { value = true })
    <label for="@Html.Id(indicators)" class="forcheckbox">@T("Display Indicators")</label>
    <span class="hint">@T("Whether to display indicators.")</span>
</div>

<div class="form-group">
    @Html.CheckBox(controls, String.Equals((string)Model.Controls, "true", StringComparison.OrdinalIgnoreCase), new { value = true })
    <label for="@Html.Id(controls)" class="forcheckbox">@T("Display Controls")</label>
    <span class="hint">@T("Whether to display controls.")</span>
</div>

<div class="form-group">
    @Html.CheckBox(swipe, String.Equals((string)Model.Swipe, "true", StringComparison.OrdinalIgnoreCase), new { value = true })
    <label for="@Html.Id(swipe)" class="forcheckbox">@T("Enable Swipe")</label>
    <span class="hint">@T("Whether to enable mobile swipe.")</span>
</div>

