﻿@{
    Script.Require("jQuery");
    if ((bool)(Model.EnableSwipe ?? true))
    {
        Script.Include("jquery.touchSwipe.min.js");
    }
    Script.Include("os.js", "os.min.js");
    Script.Include("os.mod.slideshow.js", "os.mod.slideshow.min.js");
    Script.Include("slideshow.plugin.default.js");
    Style.Include("os.mod.slideshow.css");
}
@{
    var slides = ((IEnumerable<dynamic>)Model.Slides).ToList();
    if (slides.Any()) {
        Model.Classes.Add("slide-show-slides slide-show-default os-slideshow");
        Model.Attributes["data-animation-speed"] = Model.AnimationSpeed;
        Model.Attributes["data-animation-time"] = Model.AnimationTime;
        Model.Attributes["data-buttons"] = Model.Buttons;
        Model.Attributes["data-indicators"] = Model.Indicators;
        Model.Attributes["data-auto"] = Model.Auto;
        Model.Attributes["data-cycle-once"] = Model.CycleOnce;
        Model.Attributes["data-cycling"] = Model.Cycling;
        Model.Attributes["data-orientation"] = Model.Orientation;
        Model.Attributes["data-min-width"] = Model.MinWidth;
        Model.Attributes["data-stop-at-last"] = Model.StopAtLast;
        
        var tag = Tag(Model, "div");
        var i = 0;
        @tag.StartElement
            <ul>
                @foreach (var slide in slides) {
                    if (i == 0) {
                        slide.Classes.Add("first");
                    }<li>@* Do not add white space: it will break the layout *@@Display(slide)@{ i++; }</li>}
            </ul>
        @tag.EndElement
    }
}