﻿@using Onestop.Layouts.Helpers
@using Orchard.DisplayManagement.Shapes
@using Orchard.Utility.Extensions
@{
    Style.Include("slideshow-summary-admin.css");
}
@{
    var metadata = ((Shape)Model).Metadata;
    var slides = ((IEnumerable<dynamic>)Model.Slides).ToList();
    var subset = slides.Take(5).ToList();
    
    if (subset.Any()) {
        Model.Classes.Add("slide-show-slides");
        Model.Classes.Add(metadata.DisplayType.HtmlClassify());
        Model.Attributes["id"] = Model.Id;
        if (Model.Width != null) {
            Model.Attributes["data-width"] = Model.Width.ToString();
        }
        if (Model.Height != null) {
            Model.Attributes["data-height"] = Model.Height.ToString();
        }
        var styles = new Dictionary<string, string>();
        var style = styles.BuildStyle();
        if (!String.IsNullOrWhiteSpace(style)) {
            Model.Attributes["style"] = style;
        }
        var tag = Tag(Model, "div");
        var i = 0;

        @tag.StartElement
        <ul>
            @foreach (var slide in subset) {
                if (i == 0) {
                    slide.Classes.Add("first");
                }<li>@* Do not add white space: it will break the layout *@@Display(slide)@{ i++; }</li>}
        </ul>
        @tag.EndElement
        <div class="hint">@T("Showing {0}/{1} slides", subset.Count, slides.Count)</div>
    }
}