﻿@model Onestop.SlideShows.ViewModels.SlideShowViewModel
@using Onestop.SlideShows.Settings
@using Orchard.ContentManagement
@using System.Linq
@using Orchard.Core.Contents
@{
    Script.Require("jQueryUI_Sortable").AtFoot();
    Script.Include("slideshow-admin.js").AtFoot();
    Style.Include("slideshow.css");
    Style.Include("slideshow-admin.css");
    var slides = Model.Slides.ToList();
    var settings = Model.Field.PartFieldDefinition.Settings.GetModel<SlideShowSettings>();
    if (Model.AllowSlideTypeConfiguration) {
        <fieldset>
            <legend>@T("Slide show")</legend>
            @Html.CheckBoxFor(m => m.AllowSlideTypeChoice)
            <label for="@Html.FieldIdFor(m => m.AllowSlideTypeChoice)" class="forcheckbox">@T("Allow a choice of slide type")</label>
            <span class="hint">@T("Check to allow a choice of the content type for each slide.")</span>
            <label for="@Html.FieldIdFor(m => m.DefaultSlideType)">@T("Default slide type")</label>
            @Html.DropDownListFor(m => m.DefaultSlideType, Model.SlideContentTypes
                .OrderBy(t => t.Value)
                .Select(t => new SelectListItem {
                    Selected = t.Key == Model.DefaultSlideType,
                    Value = t.Key,
                    Text = t.Value
                }))
        </fieldset>
    }
    if (Model.ContentPart.Id == 0) {
        @T("Please save the slide show in order to be able to add slides.")
    }
    else {
        <fieldset><legend>@Model.Field.DisplayName</legend>
            @if (!slides.Any()) {
                @T("This slide show contains no slide.")<br/>
            }
            else {
                var layouts = Model.Layouts.ToList();
                var any = layouts.Any();
                var width = any ? layouts.Max(l => l.Width) : 0;
                var height = any ? layouts.Max(l => l.Height) : 0;
                @Html.HiddenFor(m => m.SlideIds)
                <div class="save-message-slideshow message message-Warning slide-show-message">
                    @T("There are pending changes that require hitting save to be persisted.")
                </div>
                <ul class="slideshow-slides items slide-show-editor"
                    data-width="@width" data-height="@height"
                    data-order-field="@Html.IdFor(m => m.SlideIds)">
                    @foreach (var slide in Model.SlideShapes) {
                        var slideItem = (IContent) slide.ContentItem;
                        slide.Classes.Add("slide");
                        var slideRow = New.SlideRow();
                        slideRow.Classes.Add("slide-row");
                        slideRow.Attributes.Add("data-slide-id", slide.Id);
                        var tag = Tag(slideRow, "div");
                        <li>
                            <span class="related">
                                @if (Authorizer.Authorize(Permissions.EditContent, slideItem)) {
                                    @Html.ItemEditLink(T("Edit").Text, slideItem, new {returnUrl = HttpContext.Current.Request.RawUrl})@T(" | ")
                                }
                                @if (Authorizer.Authorize(Permissions.DeleteContent, slideItem)) {
                                    @Html.Link(T("Delete").Text, Url.ItemRemoveUrl(slideItem, new {returnUrl = HttpContext.Current.Request.RawUrl}), new {itemprop = "RemoveUrl UnsafeUrl"})
                                }
                            </span>
                            @tag.StartElement
                            @Display(slide)
                            @tag.EndElement
                        </li>
                    }
                </ul>
            }
            <div class="slide-show-add-new-slide">
                @if (Model.CanAddSlide) {
                    @Html.ActionLink(T("Add Slide").Text, "CreateSlide", "SlideShowAdmin", new {Area = "Onestop.SlideShows", slideShowId = Model.ContentPart.Id, fieldName = Model.Field.Name, returnUrl = HttpContext.Current.Request.RawUrl}, new {@class = "button grey"})
                }
                @Html.ActionLink(T("Add Media Slides").Text, "AddExistingMediaSlide", "SlideShowAdmin", new {Area = "Onestop.SlideShows", slideShowId = Model.ContentPart.Id, fieldName = Model.Field.Name, returnUrl = HttpContext.Current.Request.RawUrl}, new {@class = "button grey"})
            </div>
            <span class="hint">@settings.Hint</span>
        </fieldset>
        @Display.Slideshow_Configuration(Model: Model)
    }
}