﻿@using System.Globalization
@using System.Web.Mvc.Html
@using Newtonsoft.Json
@using Onestop.Layouts.Models
@using Orchard.ContentManagement
@using Orchard.Core.Title.Models
@using Orchard.Mvc.Html
@model Onestop.SlideShows.ViewModels.SlideViewModel
@{
    Layout.Title = T("New Slides").ToString();
    Style.Include("slideshow.css");
    Style.Include("slideshow-admin.css");
    using (Html.BeginForm(
        "CreateSlide", "SlideShowAdmin",
        new {
            slideShowId = Model.SlideShowId,
            fieldName = Model.FieldName,
            returnUrl = Model.ReturnUrl
        },
        FormMethod.Post)) {
        @Html.ValidationSummary()
        if (Model.SlideContentTypes != null) {
            <fieldset class="slide-type-selection">
                <legend>@T("Slide content type")</legend>
                <label for="@Html.Id("slideType")">@T("Please select a type:")</label>
                @Html.DropDownList(
                    "slideType",
                    Model.SlideContentTypes
                        .OrderBy(t => t.Value)
                        .Select(t => new SelectListItem {
                            Text = t.Value,
                            Value = t.Key,
                            Selected = t.Key == Model.DefaultSlideType
                        }))
            </fieldset>
        }
        else {
            @Html.Hidden("slideType", Model.DefaultSlideType)
        }
        var templates = Model.Templates == null 
            ? new List<LayoutTemplatePart>() : Model.Templates.ToList();
        if (!templates.Any()) {
            <p>@T("No templates have been defined yet. You need to create a template before you can create slides.")</p>
            <p>@Html.ActionLink(T("Create Template").Text, "Create", "Admin", new { id = "Template", area = "Contents" }, null)</p>
            <br/>
        }
        else {
            <fieldset class="slide-show-layout-selection">
                <legend>@T("Create one slide from a template")</legend>
                <label for="@Html.Id("templateId")">@T("Please select a template:")</label>
                @Html.DropDownList(
                    "templateId",
                    templates
                        .OrderBy(l => l.ContentItem.As<TitlePart>().Title)
                        .Select(l => new SelectListItem
                        {
                            Text = l.ContentItem.As<TitlePart>().Title,
                            Value = l.Id.ToString(CultureInfo.InvariantCulture)
                        }))
            </fieldset>
            <fieldset class="slide-show-layout-unavailable-for-type" style="display: none;">
                <p>
                    The currently selected Slide Type does not allow a template choice, and no default
                    template has been specified.
                </p>
                <p>
                    Please choose another Slide Content Type or
                    <strong><a class="slide-type-edit-link">update the Content Definition for <span class="slide-type-selected"></span></a></strong>.
                    The relevant settings are within the TemplatedItemPart.
                </p>
            </fieldset>
            <fieldset class="slide-show-layout-unavailable" style="display: none;">
                <p>
                    The current SlideShow does not allow a choice of Slide Type, and the selected
                    Slide Type does not allow a template choice. No default
                    template has been specified, and the slide cannot be created.
                </p>
                <p>
                    Please <strong><a class="slide-type-edit-link">update the Content Definition for <span class="slide-type-selected"></span></a></strong>
                    to provide a Default Template or to Allow Template Choice. (These settings are within the TemplatedItemPart.)
                </p>
            </fieldset>
        }
        <fieldset class="save-button">
            @Html.AntiForgeryTokenOrchard()
            <button class="primaryAction" type="submit" name="submit.Save" value="submit.Save">@T("Save")</button>
            <span id="wait-message" style="display: none;">Please wait...</span>
        </fieldset>
    }
    using (Script.Foot())
    {
        <script type="text/javascript">
            var defaultSlideType = '@Model.DefaultSlideType';
            var typeTemplateSettings = @Html.Raw(JsonConvert.SerializeObject(Model.TemplatedItemSettings));
            jQuery(document).ready(function ($) {
                var updateTemplateSettings = function() {
                    var slideTypeSelector = $('.slide-type-selection select'),
                        slideType = slideTypeSelector.val() ? slideTypeSelector.val() : defaultSlideType,
                        templateSettings = typeTemplateSettings[slideType];

                    if (templateSettings.AllowTemplateChoice)
                        $('.slide-show-layout-selection').show();
                    else
                        $('.slide-show-layout-selection').hide();

                    $('.slide-show-layout-selection select').val(templateSettings.DefaultTemplateId);

                    if (!templateSettings.AllowTemplateChoice && !templateSettings.DefaultTemplateId) {
                        $('.save-button').hide();
                        $('.slide-type-edit-link').attr('href', '/Admin/ContentTypes/Edit/' + slideType);
                        $('.slide-type-selected').html(slideType);
                        if (!$('.slide-type-selection:visible').length) {
                            $('.slide-show-layout-unavailable').show();
                            $('.slide-show-layout-unavailable-for-type').hide();
                        } else {
                            $('.slide-show-layout-unavailable').hide();
                            $('.slide-show-layout-unavailable-for-type').show();
                        }
                    } else
                        $('.save-button').show();
                };

                $('.slide-type-selection select').change(updateTemplateSettings);
                updateTemplateSettings();

                if (!$('.slide-type-selection:visible, .slide-show-layout-selection:visible').length
                    && $('.slide-show-layout-selection select').val()) {
                    $('[type=submit]').click().hide(); //force save if neither type nor template selection is allowed
                    $('#wait-message').show();
                }
            });
        </script>
    }
}