﻿@model Onestop.SlideShows.Settings.SlideShowSettings

@Display.Slideshow_Configuration(Model: Model)
<fieldset>
    @Html.CheckBoxFor(m => m.AllowPluginOverride)
    <label for="@Html.FieldIdFor(m => m.AllowPluginOverride)" class="forcheckbox">@T("Allow plugin override")</label>
    <span class="hint">@T("Check if the choice of the slideshow plugin can be overridden for each slideshow of this type.")</span>
    @Html.CheckBoxFor(m => m.AllowPluginConfigurationOverride)
    <label for="@Html.FieldIdFor(m => m.AllowPluginConfigurationOverride)" class="forcheckbox">@T("Allow plugin configuration override")</label>
    <span class="hint">@T("Check if the plugin configuration can be overridden for each slideshow of this type.")</span>
    @Html.CheckBoxFor(m => m.PreventTemplateChoice)
    <label for="@Html.FieldIdFor(m => m.PreventTemplateChoice)" class="forcheckbox">@T("Prevent the template from being chosen or changed on each slide.")</label>
    <span class="hint">@T("Check if the slides should only contain single images or videos and no slides with custom layouts.")</span>
    @Html.CheckBoxFor(m => m.AllowSlideTypeChoice)
    <label for="@Html.FieldIdFor(m => m.AllowSlideTypeChoice)" class="forcheckbox">@T("Allow a choice of slide type")</label>
    <span class="hint">@T("Check to allow slide show authors to choose the content type for each slide.")</span>
    <label for="@Html.FieldIdFor(m => m.DefaultSlideType)">@T("Default slide type")</label>
    @Html.DropDownListFor(m => m.DefaultSlideType, Model.SlideContentTypes
        .OrderBy(t => t.Value)
        .Select(t => new SelectListItem {
            Selected = t.Key == Model.DefaultSlideType,
            Value = t.Key,
            Text = t.Value
        }))
</fieldset>
<fieldset>
    <label for="@Html.FieldIdFor(m => m.Hint)">@T("Help text")</label>
    @Html.TextAreaFor(m => m.Hint, new { @class = "textMedium", rows = "5" } )
    <span class="hint">@T("The help text is written under the list of slides in the content item editor.")</span>
    @Html.ValidationMessageFor(m => m.Hint)
</fieldset>
