﻿@using System.Web.Mvc.Html
@using Onestop.SlideShows.Settings
@using Orchard.ContentManagement
@using Orchard.Core.Contents
@model Onestop.SlideShows.ViewModels.SlideShowViewModel
@{
    Script.Require("jQueryUI_Sortable").AtFoot();
    Script.Include("slideshow-admin.js").AtFoot();
    Style.Include("slideshow.css");
    Style.Include("slideshow-admin.css");
    var slides = Model.SlideShapes.ToList();
    var settings = Model.SlideShow.TypePartDefinition.Settings.GetModel<SlideShowSettings>();

    if (Model.AllowSlideTypeConfiguration) {
        <fieldset>
            <legend>@T("Slide show")</legend>
            @Html.CheckBoxFor(m => m.AllowSlideTypeChoice)
            <label for="@Html.FieldIdFor(m => m.AllowSlideTypeChoice)" class="forcheckbox">@T("Allow a choice of slide type")</label>
            <span class="hint">@T("Check to allow a choice of the content type for each slide.")</span>
            <label for="@Html.FieldIdFor(m => m.DefaultSlideType)">@T("Default slide type")</label>
            @Html.DropDownListFor(m => m.DefaultSlideType, Model.SlideContentTypes
                .OrderBy(t => t.Value)
                .Select(t => new SelectListItem {
                    Selected = t.Key == Model.DefaultSlideType,
                    Value = t.Key,
                    Text = t.Value
                }))
        </fieldset>
    }
    if (Model.SlideShow.Id == 0) {
        <div class="message message-Information">@T("Please save the slide show in order to be able to add slides.")</div>
    }
    else {
        <fieldset>
            <legend>@T("Slides")</legend>
            @if (!slides.Any()) {
                @T("This slide show contains no slides.")<br />
            }
            else {
                var width = slides.Max(s => s.LayoutTemplate == null || s.LayoutTemplate.Width == null ? 0 : s.LayoutTemplate.Width);
                var height = slides.Max(s => s.LayoutTemplate == null || s.LayoutTemplate.Height == null ? 0 : s.LayoutTemplate.Height);
                @Html.HiddenFor(m => m.SlideOrder)
                <div id="save-message-slideshow" class="message message-Warning slide-show-message save-message-slideshow">
                    @T("There are pending changes that require hitting save to be persisted.")
                </div>
                <ul id="slideshow-slides"
                    class="slideshow-slides items slide-show-editor"
                    data-width="@width" data-height="@height"
                    data-order-field="@Html.IdFor(m => m.SlideOrder)">
                    @foreach (var slide in slides) {
                        var slideItem = (IContent)slide.ContentItem;
                        slide.Classes.Add("slide");
                        var slideRow = New.SlideRow();
                        slideRow.Classes.Add("slide-row");
                        slideRow.Attributes.Add("data-slide-id", slide.Id);
                        var tag = Tag(slideRow, "div");
                        <li>
                            <span class="related">
                                @if (Authorizer.Authorize(Permissions.EditContent, slideItem)) {
                                    @Html.ItemEditLink(T("Edit").Text, slideItem, new { returnUrl = HttpContext.Current.Request.RawUrl })@T(" | ")
                                }
                                @if (Authorizer.Authorize(Permissions.DeleteContent, slideItem)) {
                                    @Html.Link(T("Delete").Text, Url.ItemRemoveUrl(slideItem, new { returnUrl = HttpContext.Current.Request.RawUrl }), new { itemprop = "RemoveUrl UnsafeUrl" })
                                }
                            </span>
                            @tag.StartElement
                            @Display(slide)
                            @tag.EndElement
                        </li>
                    }
                </ul>
            }
            <div class="slide-show-add-new-slide">
                @if (Model.CanAddSlide) {
                    @Html.ActionLink(T("Add Slide").Text, "CreateSlide", "SlideShowAdmin", new { Area = "Onestop.SlideShows", slideShowId = Model.SlideShow.Id, returnUrl = HttpContext.Current.Request.RawUrl }, new { @class = "button grey" })
                }
                @Html.ActionLink(T("Add Media Slides").Text, "AddExistingMediaSlide", "SlideShowAdmin", new { Area = "Onestop.SlideShows", slideShowId = Model.SlideShow.Id, returnUrl = HttpContext.Current.Request.RawUrl }, new { @class = "button grey" })
            </div>
            <span class="hint">@settings.Hint</span>
        </fieldset>
        @Display.Slideshow_Configuration(Model: Model)
    }
}