﻿.navicon-slide-shows {
background-image:url(images/menu.slideshow.png) !important;
}
.navicon-slide-shows:hover {
background-position:0 -30px !important;
}

.subnavicon-slide-show {
background-image:url(images/menu.slideshow.png) !important;
}
.subnavicon-slide-show:hover {
background-position:0 -28px !important;
}