﻿.slide-show-slides.summary-admin {
    display: none;
    overflow: visible;
}
.slide-show-slides.summary-admin .templated-item-preview,
.slide-show-editor .slide {
    padding: 0;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 6px;
}
.slide-show-slides.summary-admin li {
    position: relative;
    display: inline-block;
    padding: 0;
    top: auto;
    left: auto;
}
ul.slide-show-editor {
    list-style-type: none;
    display: block;
    clear: both;
}
ul.slide-show-editor li {
    float: left;
    text-align: center;
    margin: 3px;
    padding: 2px;
    background-color: #f3f4f5;
}
    ul.slide-show-editor li .related {
        background: url(images/move.gif) no-repeat 0 4px;
        cursor: move;
        display: block;
        padding-left: 16px;
        text-align: right;
    }
.slide-show-add-new-slide {
    clear: both;
}
.slide-show-message {
    display: none;
}
